@use "../variables" as vr;
@use "sass:color";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: map-get($map: vr.$colors, $key: l-neut-pale-w);

  // * Header
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;

    h1 {
      font-family: map-get($map: vr.$fonts, $key: heading);
      font-size: map-get($map: vr.$text-sizes, $key: h1);
      font-weight: map-get($map: vr.$weights, $key: medium);
      color: map-get($map: vr.$colors, $key: bold-main);
    }

    .go-back-btn {
      display: flex;
      align-self: flex-start;
      margin-left: 80px;
      font-family: map-get($map: vr.$fonts, $key: primary);
      font-size: map-get($map: vr.$text-sizes, $key: body);
      color: map-get($map: vr.$colors, $key: bold-main);
      font-weight: map-get($map: vr.$weights, $key: light);

      a {
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: inherit;

        img {
          width: 12px;
          height: auto;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px;
    background-color: map-get($map: vr.$colors, $key: l-neut-pink);
  }
  #class {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 80%;

    #class-details {
      display: flex;
      flex-direction: column;

      .class-image {
        width: 373px;
        height: auto;
        object-fit: cover;
      }
    }

    #info-class {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h2 {
        font-family: map-get($map: vr.$fonts, $key: heading);
        font-size: map-get($map: vr.$text-sizes, $key: h4);
        font-weight: map-get($map: vr.$weights, $key: medium);
        color: map-get($map: vr.$colors, $key: bold-main);
        margin-bottom: 20px;
      }

      .details-class {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 20px;
      }

      h3 {
        font-family: map-get($map: vr.$fonts, $key: primary);
        font-size: map-get($map: vr.$text-sizes, $key: h6);
        color: map-get($map: vr.$colors, $key: brand);
        font-weight: map-get($map: vr.$weights, $key: light);
        margin-top: 20px;

        &:first-of-type {
          margin-top: 0;
        }
      }

      p {
        font-family: map-get($map: vr.$fonts, $key: primary);
        font-size: map-get($map: vr.$text-sizes, $key: body);
        font-weight: map-get($map: vr.$weights, $key: light);
        color: map-get($map: vr.$colors, $key: brand);
        line-height: 25px;
        margin-bottom: 50px;
      }

      ul {
        margin-bottom: 20px;
        li {
          list-style-position: inside;
          margin-left: 5px;

          color: map-get($map: vr.$colors, $key: brand);
          font-family: map-get($map: vr.$fonts, $key: primary);
          font-size: map-get($map: vr.$text-sizes, $key: body);
          font-weight: map-get($map: vr.$weights, $key: light);
          line-height: 25px;
        }

        &:last-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px 30px;
    border: 2px solid
      color.scale(map-get($map: vr.$colors, $key: comp-brown), $alpha: -50%);

    h2 {
      font-family: map-get($map: vr.$fonts, $key: heading);
      font-size: map-get($map: vr.$text-sizes, $key: h4);
      font-weight: map-get($map: vr.$weights, $key: medium);
      color: map-get($map: vr.$colors, $key: bold-main);
    }

    .detail {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: map-get($map: vr.$fonts, $key: primary);
      font-size: map-get($map: vr.$text-sizes, $key: body);
      color: map-get($map: vr.$colors, $key: brand);
      font-weight: map-get($map: vr.$weights, $key: light);

      p {
        margin: 0;
      }
    }
  }

  .join-btn {
    border: 1px solid map-get($map: vr.$colors, $key: bold-main);
    color: map-get($map: vr.$colors, $key: bold-main);
    text-decoration: none;
    font-size: map-get($map: vr.$text-sizes, $key: button);
    padding: 20px 30px;
    text-align: center;
    width: 100%;
    transition: map-get($map: vr.$transitions, $key: default);

    &:hover {
      background-color: map-get($map: vr.$colors, $key: bold-main);
      color: map-get($map: vr.$colors, $key: l-neut-pale-w);
    }
  }

  .mobile {
    display: none;
  }
}

.party-chat-widget {
  position: fixed;
  bottom: 50px;
  right: 0;
  margin-bottom: map-get($map: vr.$spacing, $key: sp-6);
  width: 48px;

  // The initial visible box
  .chat-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 48px;
      height: 48px;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  // Hide message icon when chat is open
  .chat-trigger.hidden img {
    opacity: 0;
    pointer-events: none;
  }

  // The vertical list of options
  .chat-options {
    display: none;
    flex-direction: column;

    &.is-open {
      display: flex;
    }

    .option-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;

      img {
        width: 48px;
        height: 48px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: map-get($map: vr.$breakpoints, $key: tablet)) {
  header {
    .go-back-btn {
      margin-left: 20px !important;
      margin-bottom: 30px;
    }
    h1 {
      font-size: map-get($map: vr.$text-sizes, $key: h4) !important;
    }
  }

  main {
    padding: 0 0 60px !important;
  }

  #class {
    flex-direction: column !important;
    width: 100% !important;

    .desktop {
      display: none !important;
    }

    .class-details,
    .class-image {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  .details {
    border: none !important;
    h2 {
      display: none !important;
    }
  }

  #info-class {
    padding: 0 20px !important;
  }
  .mobile {
    display: flex !important;
    width: 100% !important;

    &.join-btn {
      display: block !important;
      width: 90% !important;
    }
  }

  .party-chat-widget {
    display: none !important;
  }
}
